<!DOCTYPE html>
<!--
Kayla Bachler & David Cha
CSS490 - Program #5
3-17-2019
DESCRIPTION: HTML and CSS for the Leaderboard page
 -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cookbook Random Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/css490trivia/icon.jpg"/>
  </head>
  <style>
	body,h1 {font-family: "Raleway", sans-serif}
	body, html {height: 100%}
	.bgimg {
	  background-image: url("https://i.ytimg.com/vi/l8dmjeClN9c/maxresdefault.jpg");
	  min-height: 100%;
	  background-position: center;
	  background-size: cover;
	}
	label {
	    display: inline;
	    background-color: #FFAA3B;
	    padding: 0.5em 1em;
	    box-decoration-break: clone;
	}
	.option {
		background-color: #000000;
		border: solid;
		border-color: #80ffff;
		color: #80ffff;
		width: 40%;
		margin: 1%;
		float: center;
	}
	input[type="submit"]:active {
		background-color: #80ffff;
		border: solid;
		border-color: #000000;
		color: #000000;
	}
  </style>
  <body>
  	<div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="recipe-headline my-5">
                            <h2>{{ recipe_title }}</h2>
                            <div class="recipe-duration">
                                <h6>Ready in: {{ recipes[0]['readyInMinutes'] }} mins</h6>
                                <h6>Yields: {{ recipes[0]['servings'] }} Servings</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="recipe-ratings text-right my-5">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="btn delicious-btn">For Begginers</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- WIP for Recipe Steps -->
                        {% for recipe in recipes %}
                             {% for step in steps %}
                                <div class="single-preparation-step d-flex">
                                    <h4>{{ step['number'] }}</h4>
                                    <p>{{ step['step'] }}</p>
                                </div>
                              {% endfor %}

                        {% endfor %}
                        
                    </div>

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>

                            {% for ingredient in ingredients %}
                                <!-- Custom Checkbox -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">{{ ingredient['originalString'] }}</label>
                                </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>


                
            </div>

  	<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
	  	<div class="w3-display-middle">
	  		<div style="background-color:#000000; text-align:left; vertical-align: middle; padding:25px 25px;"> 
	  		 	<h1 class="w3-jumbo w3-animate-top">Scuffed Recipe List</h1>
	  		 	<div style="border: solid; border-color: #80ffff">
		   			<p class="w3-large w3-center w3-text-white">

		   				{% for recipe in recipes %}
				        <tr>
				            <!--{% for i in recipe %}
				            <td>{{ recipe[i] }}</td>
				            {% endfor %}
				        	-->
				        	<th>{{ recipe['title'] }}:</th>
				        	<td><img src="{{ recipe['image'] }}" alt="Food pic :)" /></td><br>
				        	<td>{{ recipe['instructions'] }}</td>.<br>
				        	<td>{{ recipe['spoonacularSourceUrl'] }}</td>
				        </tr><br>
				        {% endfor %}

		   			</p>
		   		
		   		</div> 
	   		</div>
		    <div style="background-color: #000000; position:relative; text-align: center">
			    <form action="/reset" method="post"><input type="submit" class="option" value="Go Back"></input></form>
			</div>
		</div>
	</div>
  </body>
</html>