<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Cookbook</title>

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
    <!-- Fix grid layout abc -->
    <div class="container">
        <div class="search">
            <h1>Cookbook</h1>
            <p>A website to curate recipes based on your choices</p>
            <img src="../static/img/header.jpg" width="200" height="200">

            <form class="search-recipe">
                <input type="text" id="recipe" name="recipe" placeholder="Search using an ingredient..">
                <input type="submit" value="Submit">
            </form>

        </div>

        <div class="navigation">
            <div class="item"><a href="{{ url_for('index') }}">Home</a></div>
            <div class="item"><a href="{{ url_for('recipe_post') }}">Recipe Post</a></div>
        </div>
        
    </div>

</body>


</html>