<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Cookbook | Random Recipe</title>

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
        <!-- recipe Content Area -->
        <div class="wrapper">
            <div class="one">
                <img src="{{ recipe_image }}" width="200" height="200">
                <h2>{{ recipe_title }}</h2>
                <div class="recipe-duration">
                    <h6>Ready in: {{ recipes[0]['readyInMinutes'] }} mins</h6>
                    <h6>Yields: {{ recipes[0]['servings'] }} Servings</h6>
                    <h6><a href="{{ recipe_base['sourceUrl'] }}"  style="color:blue">Source URL</a></h6>
                </div>
            </div>

            <div class="navbar">
                <div class="item"><a href="{{ url_for('index') }}">Home</a></div>
                <div class="item"><a href="{{ url_for('recipe_post') }}">Recipe Post</a></div>

            </div>

                <div class="two">
                    <table>
                        <!-- WIP for Recipe Steps // MIDDLE COL -->
                        {% for recipe in recipes %}
                            
                            {% for step in steps %}
                                 <tr>
                                    <h4>{{ step['number'] }}</h4>
                                    <p>{{ step['step'] }}</p>
                                </tr>
                            {% endfor %}

                              

                        {% endfor %}
                        
                    </table>
                </div>

                <!-- Ingredients // RIGHT COL -->
                <div class="ingredients">
                    <h4>Ingredients</h4>

                    {% for ingredient in ingredients %}
                        <!-- Custom Checkbox -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">{{ ingredient['originalString'] }}</label>
                        </div>
                    {% endfor %}
                    
                </div>
        </div>

</body>

</html>